<header class="header_section" style="background-color: rgba(80, 80, 117, 0.425);">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container " >
        <a class="navbar-brand" href="index.html">
          
        
            <img width="50" height="50" src="https://icon-library.com/images/a-icon/a-icon-6.jpg" alt="">

            <a class="navbar-brand" routerLink="">
                drenex Event <br>&nbsp;ssistant
                  </a>
          
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/home/book"> book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink=""> Service </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  routerLink="/home/chat"> Chat Here</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/home/contact">Feedback </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
