<div class="container "><br><br><br>
    <table class="table border border-4" >
        <thead *ngFor="let package of allPackages" >
         <h1 style="margin-left: 250px;">{{package.at1}} </h1>
         <tr >
          <th scope="row" class="border-4"> Event</th>
          <td class="border-4"> Food </td>
          <td class="border-4">Amount</td>
        
        </tr>
          <tr>

            <th scope="col" class="border-4">{{package.ac2}} </th>
            <th scope="col" class="border-4"></th>
            <th scope="col" class="border-4">{{package.a2}} </th>
          </tr>
          <tr >
            <th scope="row" class="border-4">{{package.ac1}} </th>
            <td class="border-4">{{package.af1}} </td>
            <td class="border-4">{{package.a1}}</td>
          
          </tr>
          <tr>
            <th scope="row" class="border-4">{{package.ac3}}</th>
            <td class="border-4">{{package.af2}}</td>
            <td class="border-4">{{package.a3}}</td>
           
          </tr>
          <tr>
          <th scope="col" class="border-4">Camera</th>
          <th scope="col" class="border-4"></th>
          <td class="border-4">{{package.c1}}</td>
         

          </tr>
          <th scope="col" class="border-4">Total </th>
          <th scope="col" class="border-4"></th>

          <th scope="col"  class="border-4">{{package.t1}}  </th>



        </thead>
        <tbody>
         
        
         
        </tbody>
      </table>
</div>