
<div class="container">
   
	<div class="screen">
		<div class="screen__content">
            <h1 class="text-center" id="head">Register </h1>
			<form  [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="login__field">
					<input name="name" formControlName="name" type="text" class="login__input" placeholder=" Username">
				</div>
				<div class="login__field">
					<input name="email" formControlName="email"  type="text" class="login__input" placeholder=" Email">
				</div>
				<div class="login__field">
					<input name="pswd" formControlName="pswd"  type="password" class="login__input" placeholder="Password">
				</div>
                <div class="login__field">
					<input type="password" class="login__input" placeholder=" Confirm Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Register Now</span>
				
				</button>				
			</form>
            <div class="text-center"> 
                <a routerLink="" style="text-decoration: none; font-weight: 700; color: azure;"> Alredy Has An Account</a>

            </div>
			
           
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	
        
       
	</div>
</div>